@media (max-width: 1024px)
 {
    /* for responsive nabvar */
    .toggle-sections {
      width: 100%;
      display: flex;
      justify-content: space-between;
  }
  .navbar ul{
    flex-wrap: wrap;
  }
  .navlink-toggle{
    display: block;
  }
.navlink{
  display: none;
  width: 100%;
  text-align: center;
}
.navbar{
  border:0px solid grey;
}
.active{
  display: block;
  background-color: blue;
   width: 9rem;
}






  .slide-contents h1 {
    font-size: 23px;
  }
  .buttons button {
   font-size: 16px;
    padding: 5px 4px;
    
}
  /* Above map section */
 .imagess{
   max-width: 100%;
 }
 /* fiexd attachment section */
 .testimonal-content h2 {
 font-size: 34px; 
  line-height: 49px;
  /* letter-spacing: 1px; */
}
/* doing imageonly cards  section  */
.row-image,.row2-image{
  flex-direction: column;
    align-items: center;
}

/* testimoneal section */

.col-6 p {
  padding-left: 23px;
  width: 50%;
}
}



@media (max-width: 768px){
  .toggle-sections{
    width: 100%;
   
    display: flex;
    justify-content: space-between;
  }
  
  .slide-contents {
    margin-left: 200px;
    margin-top: 10px;
  }
 
  .slider1 .slide-contents { 
    bottom: 14%;
    position: absolute;
  }
  
  
  /* own.dot hiding */
 .owl-dots{ 
   display:none;
 }
 /* for cards .... */

 .px-lg {
  
  flex-direction: column;
  align-items: center;
  
}
.column{
  width: 60%;
}
div.column.text-center {
  /* border: 1px solid grey; */
  margin: 1rem 1rem;
}



 div.containersection1.text-center {
  display: flex;
  flex-direction: column;
  /* font-family: 'Poppins', sans-serif; */
  line-height: 18px;
}
div.containersection1.text-center h1{
  font-size: 22px;
  line-height: 30px;
}
.portfolio-container{
  font-size: 14px;
}

.col-6 p {
  padding-left: 0px;
}
p.servicepara{
  width: 8rem;
}
.imagess img {
  width: 30%;
  margin: 5rem 6rem;
  float: left;
}
.listitems{
  display: flex;
  flex-direction: column;
}
.button221, .button222, .button223{
  margin:1rem 6rem;
}
.parag{
  padding: 0rem 3rem;
  font-family:'Poppins', sans-serif ;
}

.testimonal-content h2 {
  font-size: 22px;
}
.texted{
  margin:1rem -3rem;
}
.textt{
  margin: -1rem 0rem;

}
.row11{
  flex-direction: column;
    align-items: center;
}

.footer-content{
  font-family:'Poppins', sans-serif ;
}
.home{
    width:768px;  /*background of..image and texts section */
}
.homebutton {
  
  bottom: 0%;
 
}
.testimonal-content p {
  line-height: 18px;
}
.fa-bars:before {
 
  padding: 4rem;
}

}

@media (max-width: 425px)

{
  .slide-contents {
    margin-left: 144px;
    margin-top: 232px;
    width: auto;
}
  .latestblog-container {
    flex-direction: column;
}

.card img{
  margin-right :14rem;;
}
.row11{
  flex-direction: column;
    
    align-items: center;
}
.button221, .button222, .button223 {
  margin: 1rem 0rem;
}
.footer-content {
  width: 33.33%;
  padding: 0rem 3rem;
}
.testimonal-content h2 span {
  
  padding: 0rem 3rem;
}
.testimonal-content h2,.testimonal-content p  {
  font-size: 14px;
  line-height: 18px;

}
.parag {
 
  line-height: 19px;
}
.imagess img{
  width:50%;

}.description-container{
  display: flex;
  flex-direction: column;
}
.textarea111{
  margin: -9rem 0rem;
}
.smallnavbar{
  flex-direction: column;
}
div.nav2 {
  
  padding: 0 37px;
}
.title33{
  line-height: 20px;
}
.col-6{
  flex-direction: column;
}
.title3{
  line-height: 20px;
}
 .px-lg{
  flex-direction: column;
    align-items: center;
}
.text-center{
  padding: 1rem 10rem;
    
    text-align: justify;
   
}
div.column.text-center {
  /* border: 1px solid grey; */
  margin: 4px 11px;
}
.cardstext{
  width: 276px;
}
.textfront{
  margin-top: -11rem;
    font-size: 18px;
}
h1.textfront1{
  font-size: 22px;
}
button.buttonfront{
  padding: 9px 4px;
}
.rowsecond img {
  width: 100%;
  height: 56px;
}
.home{
  width:100%

}
.cta-content {
  padding: 7rem 2rem;
    font-size: 26px;
}

}
@media screen and (max-width: 500px), screen and (max-height: 500px) {
  
  
  div.containersection1.text-center h1 {
    font-size: 19px;
    line-height: 21px;
   
  }
  .home{
    
    flex-direction: column;
  
  }
  .columnimage{
    margin-left: 3rem;
  }
  .homebutton{
    
    margin-left: 3rem;
  
  }
  .row22{
    font-size: 12px;
  }
  
  /* product description cards */
  .map-nav{
    flex-direction: column;
  }
  
  
  
  .mapnav2 {
    
    margin-left: 0rem;
    margin-top: -2rem;
  }
  .latestblog-container {
    flex-direction: column;
  }
  .col-6 {
    flex-direction: column;
    padding-left: 0px;
  }
  } 


@media screen and (max-width: 375px), screen and (max-height: 360px) {
  .slide-contents {
    margin-left: 134px;
    margin-top: 210px;
}
p.servicepara {
  width: 7rem;
}
/* fotter section.... */
.footer-content {
  width: 30.33%;
  padding: 0rem 3rem;
}
.home {
  width: 100%;
}
.nav1{
   padding: 33px 43px;
}
.navlink-toggle {
  
  color: red;
  font-size: 23px;
}
}